body{

    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-image: url("./assets/dark_project.jpg");
    
    
    
}

    a {
    text-decoration: none;
    color: white;
}

a :hover{

    color: gray;

}

.navbar{

    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: Goldman;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    height: 3rem;
    
}

.navbar-wrapper{

    height: 3rem;
    background-color: black;
    border: 2px solid black;
    
}

.test{
   
}





