body{

    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-image: url("./assets/dark_project.jpg");
    
    
    
}

    a {
    text-decoration: none;
    color: white;
}

a :hover{

    color: gray;

}

.navbar{

    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: Goldman;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    height: 3rem;
    
}

.navbar-wrapper{

    height: 3rem;
    background-color: black;
    border: 2px solid black;
    
}

#typedtext{
   color: white;
   margin-left: 30rem;
   margin-top: 5rem;
   font-size: 1.5em;
   font-family: Goldman;
}

.button-wrapper{
    margin-left: 50em;
    margin-top: 2em;
    
}

.the-button{
    height: 40px;
    width:70px;
}

.fade-in-element{
    opacity: 0;
    animation: fadeIn 4s ease-in forwards;
    animation-delay: 10s;
}

@keyframes fadeIn{
    from {opacity:0;}
    to {opacity:1;}
}


@media only screen and (max-width: 1281px){
    #typedtext{
        margin-left: 2em;
        margin-top: 5rem;
        font-size: 1em;
    }

    .button-wrapper{
        margin-left: 10em;
    }

    .the-button{
        height: 20px;
        width: 70px;
    }
}





