body{

    margin: 0;
    padding: 0;
    background-image: url("./assets/resume_background.jpg");
    background-size: cover;
    color: white;
    font-family: Goldman;

    
    
}

a{
    color: white;
    
    margin-left: 20rem;
    margin-top: 10rem;
    font-family: Goldman;
    text-decoration: none;
    
}

a:hover{
    color: gray;
}

.navbar-list{

    
    height: 2rem;
    
    
    margin-left: -20rem;

    list-style: none;
    
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    
}

.list-item{
    
}




.resume-container{
margin-top: 5em;
margin-left: 40em;      
}

.resume-container img{
    
    width: 50em;
}




.button{
    height: 80px;
    width: 80px;
    background: red;
    color: white;
    border-radius: 50%;
     box-shadow: 2px 2px black;
     font-family: Goldman;
}

@media screen and (max-width: 650px){
    .resume-container{
        margin-left: 2em;
        margin-top: -7em;
    }

    .resume-container img {
        width: 30em;
        margin-top: 10em;
        margin-left: 0em;
    }

    .navbar-list{
        font-size: 1em;
    }

    .navbar-list li{
        font-size: 1em;
        margin-left: 0em;
    }
}
    






    
