body{

    margin: 0;
    padding: 0;
    background-image: url("./assets/resume_background.jpg");
    background-size: cover;
    color: white;
    font-family: Goldman;
    overflow: hidden;
    
}

a{
    color: white;
    
    margin-left: 20rem;
    margin-top: 10rem;
    font-family: Goldman;
    text-decoration: none;
    
}

a:hover{
    color: gray;
}

.navbar-list{

    
    height: 2rem;
   /* border: 2px solid red;*/
    margin-left: -15rem;

    list-style: none;
    
    font-size: 1.2rem;
    
}

.overlay{

    height: 250rem;
    width: 60rem;
    /*border: 2px solid red;*/
    background-color: darkblue;
    opacity: .4;
    margin-left: 32rem;
    position: absolute;
    z-index: -1;
}

.box1{
    height: 3rem;
    border: solid 2px red;
    text-align: center;
    margin-top: 50rem;
    margin-left: 4rem;
   

}

.button{
    height: 80px;
    width: 80px;
    background: red;
    color: white;
    border-radius: 50%;
     box-shadow: 2px 2px black;
     font-family: Goldman;
}
    






    
